
/****** Object:  Database [importDocs3]    Script Date: 8/13/2021 5:50:58 PM ******/
CREATE DATABASE [importDocs3]

 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [importDocs3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [importDocs3]
GO
/****** Object:  Table [dbo].[ContentType]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentType](
	[id] [bigint] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ContentType] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](500) NULL,
	[isDeleted] [bigint] NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer3] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_tmp]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_tmp](
	[id] [bigint] NOT NULL,
	[code] [nvarchar](500) NULL,
	[isDeleted] [bigint] NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataType]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataType](
	[id] [bigint] NOT NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DataType] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idContentType] [bigint] NOT NULL,
	[docValue] [varbinary](max) NOT NULL,
	[idDataType] [bigint] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentStatusDto]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentStatusDto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[errorMessage] [nvarchar](max) NULL,
	[documentId] [bigint] NOT NULL,
	[eventId] [bigint] NOT NULL,
 CONSTRAINT [PK_DDocumentStatusDto2] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[documentId] [bigint] NOT NULL,
	[stateId] [bigint] NOT NULL,
	[customerId] [bigint] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[updateData] [datetimeoffset](7) NOT NULL,
	[version] [bigint] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](500) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[isDeleted] [bit] NULL,
	[customerId] [bigint] NULL,
 CONSTRAINT [PK_Item_1] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 8/13/2021 5:50:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[id] [bigint] NOT NULL,
	[state] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ContentType] ([id], [type]) VALUES (1, N'XLS')
INSERT [dbo].[ContentType] ([id], [type]) VALUES (2, N'XLSX')
INSERT [dbo].[ContentType] ([id], [type]) VALUES (3, N'CSV')
GO
SET IDENTITY_INSERT [dbo].[Customer] ON

INSERT [dbo].[Customer] ([id], [code], [isDeleted], [firstName], [lastName]) VALUES (10124, N'1777773', 1, N'Mag', N'Lost')
INSERT [dbo].[Customer] ([id], [code], [isDeleted], [firstName], [lastName]) VALUES (10125, N'2r4r9', 0, N'Kate', N'Lost')
INSERT [dbo].[Customer] ([id], [code], [isDeleted], [firstName], [lastName]) VALUES (10126, N'1777773', 1, N'Mag', N'Lost')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[Customer_tmp] ([id], [code], [isDeleted], [firstName], [lastName]) VALUES (1, N'423423', 1, N'freregf', N'rgerge')
INSERT [dbo].[Customer_tmp] ([id], [code], [isDeleted], [firstName], [lastName]) VALUES (2, N'4234', 1, N'frefergger', N'rgerge')
GO
INSERT [dbo].[DataType] ([id], [type]) VALUES (1, N'CUSTOMER')
INSERT [dbo].[DataType] ([id], [type]) VALUES (2, N'ITEM')
GO
SET IDENTITY_INSERT [dbo].[Document] ON

INSERT [dbo].[Document] ([id], [idContentType], [docValue], [idDataType]) VALUES (10126, 1, 0xE950237703441F66C632F7D889556F372621BAC0, 1)
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentStatusDto] ON

INSERT [dbo].[DocumentStatusDto] ([id], [errorMessage], [documentId], [eventId]) VALUES (1, N'[400] during [POST] to [http://localhost:53100/item/saveMerge] [ItemSenderClient#sendItemDtos(List)]: [{"payload":[[]],"status":"FAILED","errors":[{"message":"StatementCallback; SQL [MERGE Item AS TARGET\nUSING #Item_tmp AS SOURCE \nON (TARGET.id = SOURCE.id and TARGET.customerId = SOURCE.customerId) \... (1139 bytes)]', 20151, 20110)
INSERT [dbo].[DocumentStatusDto] ([id], [errorMessage], [documentId], [eventId]) VALUES (2, N'[400] during [POST] to [http://localhost:53100/item/saveMerge] [ItemSenderClient#sendItemDtos(List)]: [{"payload":[[]],"status":"FAILED","errors":[{"message":"StatementCallback; SQL [MERGE Item AS TARGET\nUSING #Item_tmp AS SOURCE \nON (TARGET.id = SOURCE.id and TARGET.customerId = SOURCE.customerId) \... (1139 bytes)]', 20151, 20110)
INSERT [dbo].[DocumentStatusDto] ([id], [errorMessage], [documentId], [eventId]) VALUES (3, N'[400] during [POST] to [http://localhost:53100/item/saveMerge] [ItemSenderClient#sendItemDtos(List)]: [{"payload":[[]],"status":"FAILED","errors":[{"message":"StatementCallback; SQL [MERGE Item AS TARGET\nUSING #Item_tmp AS SOURCE \nON (TARGET.id = SOURCE.id and TARGET.customerId = SOURCE.customerId) \... (1139 bytes)]', 20151, 20110)
SET IDENTITY_INSERT [dbo].[DocumentStatusDto] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON

INSERT [dbo].[Event] ([id], [documentId], [stateId], [customerId], [isDeleted], [updateData], [version]) VALUES (10083, 10124, 3, 1222, 0, CAST(N'2021-08-05T14:28:57.8786757+03:00' AS DateTimeOffset), 52)
INSERT [dbo].[Event] ([id], [documentId], [stateId], [customerId], [isDeleted], [updateData], [version]) VALUES (10084, 10125, 3, 1222, 0, CAST(N'2021-08-05T14:30:26.9112546+03:00' AS DateTimeOffset), 50)
INSERT [dbo].[Event] ([id], [documentId], [stateId], [customerId], [isDeleted], [updateData], [version]) VALUES (10085, 10126, 0, 125, 0, CAST(N'2021-08-05T15:23:00.4664319+03:00' AS DateTimeOffset), 40)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON

INSERT [dbo].[Item] ([id], [code], [description], [isDeleted], [customerId]) VALUES (21975, N'21935upd', N'd1', 1, NULL)
INSERT [dbo].[Item] ([id], [code], [description], [isDeleted], [customerId]) VALUES (21976, N'21938upd', N'd2', 0, NULL)
INSERT [dbo].[Item] ([id], [code], [description], [isDeleted], [customerId]) VALUES (21977, N'21940upd', N'd3', 0, NULL)
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
INSERT [dbo].[State] ([id], [state]) VALUES (0, N'ERROR')
INSERT [dbo].[State] ([id], [state]) VALUES (1, N'NEW')
INSERT [dbo].[State] ([id], [state]) VALUES (2, N'PARSED')
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_version]  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_ContentType] FOREIGN KEY([idContentType])
REFERENCES [dbo].[ContentType] ([id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_ContentType]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_DataType] FOREIGN KEY([idDataType])
REFERENCES [dbo].[DataType] ([id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_DataType]
GO
ALTER TABLE [dbo].[DocumentStatusDto]  WITH CHECK ADD  CONSTRAINT [FK_DocumentStatusDto2_Event] FOREIGN KEY([eventId])
REFERENCES [dbo].[Event] ([id])
GO
ALTER TABLE [dbo].[DocumentStatusDto] CHECK CONSTRAINT [FK_DocumentStatusDto2_Event]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Document] FOREIGN KEY([documentId])
REFERENCES [dbo].[Document] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Document]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_State] FOREIGN KEY([stateId])
REFERENCES [dbo].[State] ([id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_State]
GO
USE [master]
GO
